@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
*{
    background-color: black;
    color:white;
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
}
.fill {
    position: relative;
    background-color: white;
    height:95px;
    aspect-ratio: 1;
    cursor: pointer;
}
.empty{
    display: inline-block;
    height:100px;
    width:100px;
    margin:10px;
    border:3px solid steelblue;
    background-color: steelblue;
}
.hold{
    border:solid 4px whitesmoke;
}
.hoverred{
    border-style: dashed;
    background-color: white;
}
.invisible{
    display: none;
}